.j {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
}
.img-1 {
    margin-right: 70px;
    text-align: center;
}
.img-2 {
    text-align: center;
}
.img-3 {
    margin-left: 70px;
    text-align: center;
}

.ju {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-4 {
    margin-right: 70px;
    text-align: center;
}
.img-5 {
    text-align: center;
}
.img-6 {
    margin-left: 70px;
    text-align: center;
}

.jug {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-7 {
    margin-right: 70px;
    text-align: center;
}
.img-8 {
    text-align: center;
}
.img-9 {
    margin-left: 70px;
    text-align: center;
}

.juga {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-10 {
    margin-right: 70px;
    text-align: center;
}
.img-11 {
    text-align: center;
}
.img-12 {
    margin-left: 70px;
    text-align: center;
}

.jugad {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-13 {
    margin-right: 70px;
    text-align: center;
}
.img-14 {
    text-align: center;
}
.img-15 {
    margin-left: 70px;
    text-align: center;
}

.jugado {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-16 {
    margin-right: 70px;
    text-align: center;
}
.img-17 {
    text-align: center;
}
.img-18 {
    margin-left: 70px;
    text-align: center;
}

.jugador {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-19 {
    margin-right: 70px;
    text-align: center;
}
.img-20 {
    text-align: center;
}
.img-21 {
    margin-left: 70px;
    text-align: center;
}

.jugadore {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-22 {
    margin-right: 70px;
    margin-left: 70px;
    text-align: center;
}

.bicampeones {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
}
.img-23 {
    margin-right: 70px;
    text-align: center;
}
.img-24 {
    margin-left: 70px;
    text-align: center;
}

.jersey {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px;
}
.img-25 {
    margin-right: 70px;
    text-align: center;
}
.img-26 {
    margin-left: 70px;
    text-align: center;
}

.jerseys {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px;
}
.img-27 {
    margin-right: 70px;
    text-align: center;
}
.img-28 {
    text-align: center;
}
.img-29 {
    margin-left: 70px;
    text-align: center;
}